/*STYLES*/

body{
	margin: 0;
	padding: 0;
	font-family: "Kumbh Sans", sans-serif;
	width: 1440px
	height: 1440px;
	background-image: url(images/bg-pattern-bottom.svg), url(images/bg-pattern-top.svg);
	background-repeat: no-repeat;
	background-position: left 52vw top 50vh, right 55vw bottom 30vh; /*vw=viewport-height, vh=veiwport-width. left gives margin from left, top gives margin from top, right gives margin from right, bottom gives margin from bottom*/
	background-size: 700px, 700px;
	background-color: hsl(185, 75%, 39%)

}




.card-container{
	width: 300px;
	height: 315px;
	background: #fff;
	border-radius: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 1px 100px -50px #000;  /*box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];*/
	overflow: hidden;


}


.upper-container{
	height: 38%;
	background: url("images/bg-pattern-card.svg");
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

}


.image-container{
	align-items: center;
	background: white;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	padding: 5px;
	transform: translate(115%, 80%); /*This rotates the position. The first value is to the right, while the second value is to  the bottom*/

}


.image-container img{
	display: flex;

	background: white;
	width: 80px;
	height: 80px;
	border-radius: 50%;

}
.image-class{
	margin-top: 1px;
	display: grid;
  margin-left: 100px;
	margin-bottom: 100px;

}

.lower-container{
	height: 62%;
	background: white;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	}

.lower-container h4{
	display: flex;
	justify-content: center;
	margin-top: 60px;
	margin-bottom: 7px;

}

#num{
	color: grey;
}

#london{
	font-size: 12px;
	display: flex;
	justify-content: center;
	font-family: sans-serif;
	color: grey;

}

.figures{
	display: flex;
	justify-content: space-evenly;
	font-weight: bold;
	font-size: 17px;
	margin-top: 20px;
}


.info{
	display: flex;

	font-size: 10px;
	color: grey;
}

#followers{
	margin-left: 42px;
	margin-right: 50px;
}

#likes{
	margin-right: 60px;
}



.attribution {
	height: 600px;
	font-size: 11px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;

}

.attribution p{

}

.attribution a {
  color: hsl(228, 45%, 44%);
}
